*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ypu have to universally select the before and after too */

/* utility components */
:root {
    --color-primary: #293462;
    --color-secondary: #F24C4C;
    --color-secondary-mod: #b95858;
    --color-white: #ffff;
    --color-third: #38405e;
}
html{
    scroll-behavior: smooth;
}
body {
    font-family: 'Baloo Tamma 2', cursive;
    line-height: 1.5;
    display: flex;

    /* WE ARE APLLYING FLEX HERE CAUSE WE CAN SEE THE SIDE NAV IS A FLEX ITEM ITSELF ANF THE REST OF THE CONTENT IS A FLEX-ELEMENT */
}

/* Main */

/* ---Side Nav--- */
.side-nav-main {
    position: sticky;
    top: 0;
    left: 0;
    height: 100vh;
}

.side-nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--color-primary);

}

.side-nav-logo img {
    width: calc(1.5rem + 3vw);
    /*take a look at this*/
    height: calc(1.5rem + 2.5vw);
}

.side-nav-social {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    /*imp*/
}

.side-nav-social i {
    font-size: calc(1rem + .5vw);
    /*use this type of dynamic values*/
    padding-bottom: calc(1rem + .4vw);
    color: var(--color-white);
    transition: color .5s cubic-bezier(0.075, 0.82, 0.165, 1);
    /*making it smooother */
}

.side-nav-social i:hover {
    color: var(--color-secondary);
}

li {
    list-style: none;

}

main {
    flex-grow: 1;
    /* --- cause we needed to fulfill the whole width left there --- */
}

#header {
    background-color: var(--color-secondary);

}

.header-main-nav-links {
    height: calc(1.5rem + 2.5vw);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.header-main-nav-links li {
    padding-right: calc(.5em + 2vw);

}

.header-main-nav-links li a {
    position: relative;
    /* relative cause i need to position the anchor tag absolute relative to that */
    text-decoration: none;
    font-size: 1.2rem;
    color: var(--color-white);
    padding: .1rem .5rem;
}

.header-main-nav-links li a::before,
.header-main-nav-links li a::after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 0.15rem;
    background-color: var(--color-white);
    transform: scaleX(0);
    /* scale 0  cause at first w dont want to see them */
}

.header-main-nav-links li a::after {
    bottom: 0;
    /* here as the padding also gets included in cause we have applied  border-box  so thats'why 
    the before and after appears after the paaded area*/

    transform-origin: right;
    /* default transform directon is center but as we 
    want thtat effect to come from the sides that's why 
    we are applying these */


}

.header-main-nav-links li a::before {
    top: 0;
    transform-origin: left;

}

.header-main-nav-links li a:hover::before,
.header-main-nav-links li a:hover::after {
    transform: scaleX(1);
    transition: transform .4s ease-out;
}

/* ---- Showcase hero section ----- */
#showcase {
    height: 100vh;
    background-image: url("background-img.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    /* this is how we fix the background */

    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.showcase-content {
    background-color: var(--color-secondary);
    padding: calc(1rem + 1.5vw);
    height: calc(5rem + 15vmax);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    /* for animation part here */
    animation: hero 2s;
}

@keyframes hero {
    0% {
        transform: translateX(100rem) rotate(360deg);
        opacity: 0;
        /* take special look here obviously */

    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.showcase-content-title {
    font-size: calc(1.2rem + 2vw);
    color: var(--color-white);

}

.showcase-content-para {
    font-family: 'Indie Flower', cursive;
    color: var(--color-white);
    font-size: calc(1rem + 1vw);
}

.showcase-content-link {
    padding: 1rem 0;
    width: 7rem;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--color-white);
    letter-spacing: .15rem;
    font-weight: 600;
    position: relative;
    /* relative cause we need to 
    do an animation here zso the use of before and after that's why we're using that here */
    z-index: 1;
}

.showcase-content-link::after {
    content: '';
    position: absolute;
    top: 0;
    left: -2%;
    height: 100%;
    width: 80%;
    background-color: var(--color-primary);
    transform: scaleX(0);
    transform-origin: right;
    /* here the originis left cause when 
    it is hovered it goes from left to right and then as the primary orgin is right the back portion is going to be back to the orgin creating a beautiful effect */
    transition: transform .5s ease-in-out;
    z-index: -1;
    /* here even after being -1 it doesn't go behind everything cause it is absolute relative to the link */



}

.showcase-content-link:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

/* --- work section --- */
#work {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2rem;
    background-color: var(--color-third);

}

.work-card {
    padding: 2rem;
    flex-basis: 30rem;
    height: 30rem;
    flex-grow: 1;
    /* now for flex-grow it tkes a suitable 
    size and space */

}

.work-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    clip-path: polygon(15% 0, 85% 0, 100% 15%, 100% 85%, 85% 100%, 15% 100%, 0 85%, 0 15%);

}

.work-card img:hover {
    filter: sepia(60%);
}

/* ---   about me  --- */
#about-me {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 1.5rem;
    background-color: var(--color-secondary);
}

.about-me-img,
.about-me-content {
    flex-basis: 30rem;
    padding: 1.5rem;
    flex-grow: 1;
}

.about-me-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about-me-content-title {
    font-size: 3.5rem;
    padding: 1rem 0;
    color: var(--color-white);
    text-transform: uppercase;

    position: relative;
    /* cause we're going to add a 
    line using after element that's why were using this to make that absolute */
}

.about-me-content-title::after {
    content: '';
    height: .2rem;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 15%;
    background-color: var(--color-primary);
}

.about-me-content-title,
.about-me-content-para {
    margin-bottom: 3rem;
    letter-spacing: .1rem;
}

.about-me-content-para {
    font-size: 1.2rem;
    font-family: 'Indie Flower';
}

.about-me-content-link {
    text-transform: uppercase;
    font-size: 1.2rem;
    padding: 1rem 0;
    text-decoration: none;
    color: var(--color-white);
    letter-spacing: .15rem;
    font-weight: 600;
    position: relative;

    z-index: 1;
}

.about-me-content-link::after {
    content: '';
    background-color: var(--color-primary);
    width: 100%;
    height: 100%;
    transform: scaleY(0);
    transform-origin: bottom;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform .5s ease-in;
    z-index: -1;

}

.about-me-content-link:hover::after {
    transform: scaleY(1);
    transform-origin: top;
}

/*------- services ------  */
#service {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-items: center;
    padding: 5rem 1.5rem 1.5rem;
    background-color: var(--color-primary);
}

.service {
    padding: 2rem;
    margin: 1.5rem 2rem;
    flex-basis: 25rem;
    flex-grow: 1;
    background-color: var(--color-secondary);
    border: .1rem solid var(--color-secondary);
    position: relative;
    border-top: none;
    z-index: 1;

}

.service::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--color-primary);
    height: 100%;
    width: 100%;
    z-index: -1;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform .5s ease-in;
}

.service:hover::after {
    transform: scaleX(1);
}

.service i {
    font-size: 2rem;
    color: var(--color-white);
    margin-bottom: 1.5rem;
}

.service-title {
    font-size: 2.5rem;
    padding-bottom: 1rem;
}

.service-para {
    color: var(--color-white);
    font-family: 'Indie Flower';
    font-size: 1.2rem;
    letter-spacing: .15rem;
}

/* ---  Skills Section  --- */
#skill {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: calc(1rem + 1.5vw);
    background-color: var(--color-third);
}

.design-skill,
.coding-skill {
    padding: calc(.8rem + 1.5vw);
    text-transform: uppercase;
    flex-basis: 30rem;
    flex-grow: 1;
}

.design-skill-title,
.coding-skill-title {
    font-size: 2.4rem;
    margin-bottom: 1.5rem;

}

.design-skill h4,
.coding-skill h4 {
    color: var(--color-white);
    font-size: 1.5rem;
}

.design-skill-progress,
.coding-skill-progress {
    position: relative;
    display: block;
    padding: .4rem .6rem;
    border-radius: 1.5rem;
    background-color: var(--color-primary);
    margin-top: .25rem;
    margin-bottom: 1rem;
    width: 100%;
}

.design-skill-progress span,
.coding-skill-progress span {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    height: 1.2rem;
    border-bottom-left-radius: 1.5rem;
    border-top-left-radius: 1.5rem;
    background-color: var(--color-secondary);
}

/* ------ now take a look here ----- */
.skill-design-progress-1 {
    animation: design-1 4s infinite;
}

@keyframes design-1 {
    0% {
        width: 0;
    }

    100% {
        width: 80%;
    }
}

.skill-design-progress-2 {
    animation: design-2 4s infinite;
}

@keyframes design-2 {
    0% {
        width: 0;
    }

    100% {
        width: 60%;
    }
}

.skill-design-progress-3 {
    animation: design-3 4s infinite;
}

@keyframes design-3 {
    0% {
        width: 0;
    }

    100% {
        width: 90%;
    }
}

.skill-design-progress-4 {
    animation: design-4 4s infinite;
}

@keyframes design-4 {
    0% {
        width: 0;
    }

    100% {
        width: 70%;
    }
}

.skill-coding-progress-1 {
    animation: coding-1 4s infinite;
}

@keyframes coding-1 {
    0% {
        width: 0;
    }

    100% {
        width: 85%;
    }
}

.skill-coding-progress-2 {
    animation: coding-2 4s infinite;
}

@keyframes coding-2 {
    0% {
        width: 0;
    }

    100% {
        width: 80%;
    }
}

.skill-coding-progress-3 {
    animation: coding-3 4s infinite;
}

@keyframes coding-3 {
    0% {
        width: 0;
    }

    100% {
        width: 60%;
    }
}

.skill-coding-progress-4 {
    animation: coding-4 4s infinite;
}

@keyframes coding-4 {
    0% {
        width: 0;
    }

    100% {
        width: 75%;
    }
}

/* ---- testimonial ---- */
#testimonial {
    display: flex;
    overflow: hidden;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 1.5rem;
    background-color: var(--color-secondary);
}

.testimonial-card {
    flex-grow: 1;
    padding: 2.5vw;
    position: relative;
    /* relative for the content to be absolute */
    overflow: hidden;
    flex-basis: 30rem;

}

.testimonial-card-img {
    height: 100%;
    width: 100%;
}

.testimonial-card-img img {
    width: 100%;
    height: 100%;
    border-radius: .5rem;
    object-fit: cover;
    /* object-fit needs to be noted from mdn */
}

.testimonial-card-content-title {
    font-size: 2.4rem;
    text-transform: uppercase;
}

.testimonial-card-content-para {
    font-size: 1.2rem;
    font-family: 'Indie Flower';
    padding: .8rem;

}

.testimonial-card-content {
    color: var(--color-white);
    opacity: 85%;
    border-radius: .5rem;
    position: absolute;
    top: 60%;
    left: 0;
    width: 75%;
    background-color: var(--color-primary);
    transform: scaleY(0);
    transform-origin: top;
    transition: transform .35s ease-in-out;
}

.testimonial-card:hover .testimonial-card-content {
    transform: scaleY(1);
}

.testimonial-card:hover .testimonial-card-img img {
    transform: scale(.95);
    filter: brightness(.9);
    transition: transform .3s ease-in-out;
}

/* Contact-form */
#contact {
    height: 100vh;
    background-size: cover;
    background-position: center;

    background-image: url(stefan-stefancik-w_Mj-SsE1mI-unsplash.jpg);
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

}

.contact-form {
    display: flex;
    flex-basis: 25rem;
    flex-direction: column;
    background-color: var(--color-primary);
    margin-right: 1rem;
    margin-bottom: 1rem;

}

.contact-form input,
.contact-form textarea {
    color: var(--color-secondary);
    font-family: 'Indie Flower', cursive;
    ;
    font-size: 1.4rem;
    letter-spacing: .15rem;
    padding: 1.5rem;
    background-color: var(--color-primary);
    border: none;
    border-bottom: var(--color-secondary) solid .1rem;
}

/* attribute selctors */
input[type="submit"] {
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    color: var(--color-white);
    filter: brightness(50%);
}


/*------------ responsiveness------- */
/* ---------------- 680px screen mark ----------------- */

@media screen and (max-width:680px) {





    /* main-nav-header */

    nav.header-main-nav {
        width: 20rem;
        height: 100%;
        /* make sure to make this height 100% not 100vh 
        otherwise the div will not completely go with the screen and 
        show up only till the hieght of main viewport previously */
        position: fixed;
        top: 0;
        right: -30rem;
        background-color: var(--color-secondary);
        text-align: center;
        z-index: 2;
    }

    .clicked {
        left: 55%;
    }

    .header-main-nav-hamburger {
        width: 2.9rem;
        height: 2.9rem;
        position: fixed;
        top: 2rem;
        right: 2rem;
        cursor: pointer;
        background-color: var(--color-secondary);
        padding: .7rem;
        border-radius: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        z-index: 2;

    }

    .line {
        width: 100%;
        height: .15rem;
        background-color: white;
        transition: all 0.4s ease-in-out;
    }

    .header-main-nav-links {
        margin-top: 30vw;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .header-main-nav-links li {
        margin-top: 4vh;
        margin-left: 5vw;
    }

    /* note this design */
    .clicked .line1 {
        transform: rotateZ(-405deg) translate(-.5rem, .2rem);
        /* could have done it 45deg but we needed a flipping effect that's why a complete rotation and hence 360deg */
    }

    .clicked .line2 {
        transform: scale(0);
    }

    .clicked .line3 {
        transform: rotateZ(405deg) translate(-.5rem, -.2rem);
    }

    #showcase {
        background-position: 18%;
    }


    #skill {
        padding: calc(.8rem + 1.2vw);
    }

    .design-skill,
    .coding-skill {
        padding: calc(.7rem + 1.1vw);

    }

    .design-skill-title,
    .coding-skill-title {
        font-size: 2rem;
        margin-bottom: 1.1rem;

    }

    .design-skill h4,
    .coding-skill h4 {
        font-size: 1.2rem;
    }


    /* testimonial */
    #testimonial {
        padding: 1rem;
    }

    .testimonial-card-content-para {
        font-size: 1rem;
    }

    .testimonial-card-content-title {
        font-size: 1.5rem;
    }
}

/* ----940 and below mark----- */
@media screen and (max-width:940px) {
    #showcase {
        background-position: 30%;
        /* adjusting the baclground image hwere take a look from mozillamdn about thsi too */
        align-items: flex-end;
    }
}

@media screen and (max-width:480px) {
    #showcase {
        background-position: 12%;
    }


    .about-me-content-para {
        padding: 1rem;
    }


    #service {
        padding: 4rem 1rem 1rem;
    }

    .service {
        padding: 1.5rem;
        margin: 1.2rem 1.5rem;
    }

    .service-title {
        font-size: 2rem;
        padding-bottom: .8rem;
    }

    .service i {
        font-size: 1.5rem;
    }

    .service-title-para {
        font-size: 1rem;

    }

    .testimonial-card-content {
        top: 0;
        padding: 1rem;
        width: 100%;
        height: 100%;
        transform: scaleY(0);
        transform-origin: bottom;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    .testimonial-card-content-title {
        text-align: center;
    }

    .testimonial-card-content-para {
        font-size: 1.2rem;
        padding: 1rem;
    }

    .testimonial-card:hover .testimonial-card-content {
        transform-origin: top;

    }


}

@media screen and (min-width:1500px) {
    body {
        width: 1500px;
        margin: 0 auto;
    }

    #showcase {
        background-position: 70%;
    }
}
